<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.notice">

	<!-- notice insert -->
	<insert id="insert" parameterType="com.mycgv.vo.CgvNoticeVO">
		insert into cgv_notice values('n_'||sequ_cgv_notice.nextval,#{ntitle},#{ncontent},#{nfile},#{nsfile},0,sysdate)
	</insert>
	
	<!-- notice list -->
	<select id="listAll" parameterType="map" resultType="com.mycgv.vo.CgvNoticeVO">
		select rno, nid, ntitle, nhits, ndate 
				from(select rownum rno, nid, ntitle, nhits,to_char(ndate,'yyyy-mm-dd') ndate
				from(select nid, ntitle, nhits,ndate from cgv_notice
				            order by ndate desc))
				where rno between #{start} and #{end} 
	</select>
	
	<!-- notice content -->
	<select id="content" parameterType="java.lang.String" resultType="com.mycgv.vo.CgvNoticeVO">
		select nid,ntitle,ncontent,nhits,ndate,nfile,nsfile
				from cgv_notice where nid=#{nid}
	</select>
	
	<!-- notice updatehits -->
	<update id="updatehits" parameterType="java.lang.String">
		update cgv_notice set nhits=nhits+1 where nid=#{nid}
	</update>
	
	<!-- notice update -->
	<update id="update" parameterType="com.mycgv.vo.CgvNoticeVO">
		update cgv_notice set ntitle=#{ntitle}, ncontent=#{ncontent}, nfile=#{nfile}, nsfile=#{nsfile} where nid=#{nid}
	</update>
	
	<!-- notice delete -->
	<delete id="delete" parameterType="java.lang.String">
		delete from cgv_notice where nid=#{nid}
	</delete>
	
	<!-- notice total_count -->
	<select id="total_count" resultType="int">
		select count(*) from cgv_notice
	</select>
</mapper>

