<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.movie">
	
	<!-- movie write -->
	<insert id="write" parameterType="com.mycgv.vo.CgvMovieVO">
		insert into cgv_movie values('m_'||sequ_cgv_movie.nextval,#{mcategory},#{mname},#{mdesc},sysdate)
	</insert>
	
	<!-- movie selectmid -->
	<select id="selectmid" resultType="java.lang.String">
		select  mid from (select mid from cgv_movie order by mdate desc) where rownum=1
	</select>
	
	<!-- movie insertfile -->
	<insert id="insertfile" parameterType="com.mycgv.vo.CgvMovieVO">
		insert into cgv_movie_file values('f_'||sequ_cgv_movie_file.nextval,#{mfile1},#{msfile1},#{mfile2},#{msfile2},#{mid})
	</insert>
	
	<!-- movie listAll -->
	<select id="listAll" parameterType="map" resultType="com.mycgv.vo.CgvMovieVO">
		select rno, mid, mcategory, mname,mdate
				from (select rownum rno, mid, mcategory, mname, mdate
				from (select mid, mcategory, mname, mdate from cgv_movie
						order by mdate desc)) 
				where rno between #{start} and #{end}
	</select>
	
	<!-- movie content -->
	<select id="content" parameterType="java.lang.String" resultType="com.mycgv.vo.CgvMovieVO">
		select cm.mid,mcategory,mname, mdesc, mdate, mfile1, msfile1, mfile2, msfile2
				from cgv_movie cm, cgv_movie_file cmf
				where cm.mid = cmf.mid and cm.mid=#{mid}
	</select>
	
	<!-- movie totalcount -->
	<select id="totalcount" resultType="int">
		select count(*) from cgv_movie
	</select>
</mapper>



